html {
    font-size: 10px;
}
body {
    font-size: 1.5rem;
    display: block;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
    display: flex;
}
header {
    background: #1e1f26;
    color: white;
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    position: fixed;
    display: grid;
    grid-template-columns: auto auto auto;
}

header div {
    padding: 2px;
}

#first_div {
    padding: 5px;
}

#second_div {
    padding: 5px;
    grid-column: 3 / 1 / 4 / 1;
}

#sign_up {
    background-color: rgb(101, 204, 101);
    border: none;
    border-radius: 2px;
    color: black;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#log_in {
    padding: 5px;
    color: white;
    border-radius: 2px;
    background-color: rgb(39, 39, 39);
}

main {
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    margin: 5px;
    position: relative;
    margin-top: 15%;
    margin-bottom: 4.5%;
}

h1 {
    padding-top: 50px;
    font-weight: bold;
    font-size: 4rem;
}

#img_div {
    background-color: white;
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

li {
    width: 80%;
    text-align: left;
    font-size: 1.7rem;
    margin-left: 10%;
    margin-bottom: 7px;
}

blockquote {
    margin-left: 2%;
    font-size: 1.7rem;
    text-align: left;
}


h3 {
    font-size: 20px;
    text-align: center;
    padding: 0 10% 0 10%;
}